
.example-button-row1 button,
.example-button-row1 a {
    background-color: aqua;
    margin-right: 30px;
    padding: 5px 35px;
    cursor: pointer;
}

.example-button-row{
    text-align: center !important
}
.example-button-row1{
    text-align: center !important
}



.example-button-row3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 12, 90);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 25px
}

li a:hover {
  background-color: white;
  color:rgb(29, 12, 90);
}