<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>About online store | Contact Us | Address</mat-card-title>
    <mat-card-subtitle>familier with us</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
 
<footer class="page-footer font-small blue pt-4">

  
  <div class="container-fluid text-center text-md-left">

   
    <div class="row">

      <hr class="clearfix w-100 d-md-none pb-3">
      <td class="left">
      <div class="col-md-3 mb-md-0 mb-3">
          <div class="col-md-6 mt-md-0 mt-3">

              <h5 class="text-uppercase">About the bestvalue</h5>
              <p>best value is a fast online bussiness app,<br> </p>
      
            </div>

          <h5 class="text-uppercase">follow</h5>

          <ul class="list-unstyled">
              <li>
                  <a href="#!">Our mission</a>
                </li>  
            <li>
                  <a href="#!">www.facebook.com/bestvalue</a>
                </li>
            <li>
              <a href="#!">www.twitter.com/bestvalue</a>
            </li>
            
            
          </ul>

        </div></td>
        <td class="right">
       
        <div class="col-md-3 mb-md-0 mb-3">
            <div class="col-md-6 mt-md-0 mt-3">
  
               
                <h3 class="au_title_01">Who we are</h3>
    <p class="au_para_01">bestvalue Our mission is to inspire the city’s citizens and visitors to lead richer and more active lives through learning.</p>
        
              </div>
  
  
           </div>
          </td>
         
      </div>
    

  </div>
  
  <div class="footer-copyright">© 2019 Copyright:
    <a href="##">bestvalue</a>
  </div>
 

</footer>

  </mat-card-content>
  
</mat-card>