.example-card {
    max-width: 100%;
    max-height: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-block-end: 5%;
    background: white;
  opacity: 1;
  
  }
  
  .example-header-image {
    background-image: url('http://content.sportslogos.net/logos/6/214/full/797.gif');
    background-size: cover;
    font-weight: bold;
  }

  .footer-copyright{
    text-align: center !important;
    margin-bottom: 1px;
    
  }
  
  .left{
    align-items: flex-start;
    padding-right: 400px;

  }