
<div class="dive">
  
<div class="dive">

<mat-card class="matcard">

    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Harry Potter</mat-card-title>
        <mat-card-subtitle>part 1</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://dynamic.indigoimages.ca/books/1408855704.jpg?altimages=false&scaleup=true&maxheight=515&width=380&quality=85&sale=8&lang=en" alt="Photo of a Shiba Inu">
  
  </mat-card>
  </div>
  
      </div>
      