input[type=text], select {
    width: 100%;
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: rgb(76, 102, 175);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6c45a0;
  }
  
  .matcard{
    padding-left: 20%;
    padding-right: 20%;
    width: 500px;
    align-items: center;
    margin-bottom: 20px;
  }
  mat-card-content {
    margin-bottom: 0px !important;
   
  }
  mat-card-header{
    text-align: center !important;
  }
  .dive{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  .buttonContainer {
  display: flex;
  justify-content: flex-end;
  }
  table {
    width: 100%;
    border-radius: 5px !important;
  }
  