.dive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
}
mat-card-actions {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 5px !important;
}
.matcard{
    padding-left: 20%;
    padding-right: 20%;
    width: 500px;
}
mat-card-content {
    margin-bottom: 0px !important;
   
}
mat-card-header{
    text-align: center !important;
}
.user-full-width {
    width: 100%;
    
}

.container {
    padding: 0% 5% 0% 5%;
}

.prof-pic {
    border: 2px solid #73AD21;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.propic {
    left: auto;
    right: auto;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.img-card {
    height: 100%;
}

.fileinput {
    margin-top: 5%;
}

mat-card-content {
    margin-bottom: 0px !important
}

mat-card-actions {
    text-align: right;
    margin-right: 5%;
    margin-bottom: 5px !important;
}


.primary {
    color: #fff !important;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}
.matcard{
    padding-left: 10%;
    padding-right: 10%;
    
}
.abc{
    
    background:	#ffff;
    padding-left: 1%;
    padding-right: 1%;
}
.dive{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.colorfine{
    color: red;
}