
.poweredby{
    
    font-size: 20px;
    color: rgb(23, 141, 150);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.centercontainer {
    width: 30% !important;
    margin-top: 15px !important;
    margin-bottom: calc(30vh - 500px / 2) !important;
    /* margin-left: 5% !important; */
    
    justify-content: center !important;
    align-items: center !important;
   

}

.prof-pic {
    border: 2px solid #73AD21;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.primary{
    color: #fff;
}

.loginForm {
    padding : 5%;
}

.headerString {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color : #423e3e
}

.logoClass{
    margin-top:5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dive{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.span1{
    cursor: pointer;
}


